@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --dark: #1f2937;
  --grey: #e5e7eb;
  --light-grey: #f9faf8;
  --blue: #3882f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
